#mis archivos
holaMundo.py
TODO

# Entorno virtual
.venv/

# Buildozer
.buildozer/
bin/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de VS Code
.vscode/

# Archivos temporales
*.log
*.tmp

# Linux
.DS_Store

# Archivos residuales
*:Zone.Identifier